<section id="info-pane" class="text-center info">
  {{ with .Site.Params.intro }}
  <h3 class="intro">{{ . | markdownify }}</h3>
  {{ end }}
  {{ with .Site.Params.description }}
  <h4 class="description">{{ . | markdownify }}</h4>
  {{ end }}
  {{ with .Site.Params.get_in_touch }}
  <h3 class="intro">{{ . | markdownify }}</h3>
  {{ end }}
</section>
