<footer class="text-center footer">
  <hr />
  {{ with .Site.Params.extra }}
  <h6 class="text-center copyright">{{ .copyright | markdownify }}</h6>
  {{ if ne .poweredby false }}
  <h6 class="text-center powered">Powered by <a href="https://gohugo.io/" target="_blank">Hugo  v{{ hugo.Version }}</a>, <a href="https://certbot.eff.org/" target="_blank">Certbot</a>, <a href="https://github.com/shenoybr/hugo-goa" target="_blank">Goa</a>, <a href="https://www.nginx.com/" target="_blank">Nginx</a>,<br /><a href="https://fontpair.co/" target="_blank">fontpair</a> &rarr; { <a href="https://fonts.google.com/specimen/Anonymous+Pro" target="_blank">Anonymous Pro</a> ; <a href="https://fonts.google.com/specimen/Crimson+Text" target="_blank">Crimson Text</a> ; <a href="https://fonts.google.com/specimen/Montserrat" target="_blank">Montserrat</a> }.</h6>
  {{ end }}
      {{ if ne .displayrssicon false }}
      <h6><a href="{{ .RSSLink }}" aria-label="RSS Feed"><i class="fas fa-rss" aria-hidden="true"></i></a></h6>
    {{ end }}
  {{ end }}
</footer>
